# AutoDock Vina Executable Configuration
# Specify the absolute path to your official AutoDock Vina binary executable (v1.2.5 or v1.2.7)
FASTAPI_VINA_EXECUTABLE=C:\Users\MAYANK\OneDrive\Desktop\dna\vina_1.2.7_win.exe
VINA_EXECUTABLE=C:\Users\MAYANK\OneDrive\Desktop\dna\vina_1.2.7_win.exe
